# Connect to Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%cd /content/gdrive/MyDrive/Data Science

/content/gdrive/MyDrive/Data Science

# Import Packages

In [3]:
import pandas as pd
import numpy as np
import re

# Import Data

In [4]:
df = pd.read_csv('Cleaned_DS_jobs.csv')

In [5]:
df

     index  ...                                        Competitors
0        0  ...            EmblemHealth, UnitedHealth Group, Aetna
1        1  ...                                                 -1
2        2  ...                                                 -1
3        3  ...  MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4        4  ...               Commerce Signals, Cardlytics, Yodlee
..     ...  ...                                                ...
667    667  ...                                                 -1
668    668  ...                                                 -1
669    669  ...                                                 -1
670    670  ...                                                 -1
671    671  ...                                                 -1

[672 rows x 15 columns]

# Answers

## 1) The `Location` column is actually not clean yet, in the sense of there are some samples in this column that have different format with the rest. Please check this column and clean it! (Note: write a function that can automatically check and clean this column. You can utilize information from Google to help building your function.)

The hypothesis is that all values in the `Location` column has format of:

 `(city), (state with 2 uppercase characters)`

 For instance: `Chantilly, VA`.

 Now, we wanted to check whether all values in this column follows this format or not. If no, then we have to replace the value following this format.

In [6]:
def check_location(x):
    splitted = x.split(', ')

    if len(splitted) == 1:
        # if there is no ',' then return False
        return False
    else:
        if (len(splitted[1]) != 2) or (splitted[1].upper() != splitted[1]):
            # If the state is not written in 2 uppercase characters then returns False
            return False
        else:
            return True

In [7]:
location_check = df['Location'].apply(check_location)

In [8]:
uncleaned_location = list(df[location_check==False]['Location'].unique())
uncleaned_location

['Remote',
 'United States',
 'Utah',
 'New Jersey',
 'Texas',
 'Patuxent, Anne Arundel, MD',
 'California']

Yay! We found 7 samples that are not following the format. Now, we have to replace those values with 'others'.

In [9]:
df['Location'] = df['Location'].apply(lambda x: 'others' if x in uncleaned_location else x)

To make sure, we can using the same `check_location` function whether the `Location` column is already cleaned or not.

In [10]:
location_check_v2 = df['Location'].apply(check_location)

In [11]:
list(df[location_check_v2==False]['Location'].unique())

['others']

## 2) Notice that we havenâ€™t work with the `Job Description` column. Do you think we can get some information from this column? If yes, please list down your ideas to clean this column and ways on how to extract meaningful information.

Yes we can! We can get some information from this column. 

Here are several ideas to extract meaningful information from this column:
1. Count the length of the job description and assume it as new variable called `workload`
2. Check the minimum education requirement using string matching, e.g. Master, Bachelor, PhD
3. Check whether need Python skills or not using string matching
4. and many more..

Here are several ideas to clean this column:
1. Remove non alphanumeric characters
2. Lowercase all characters